<div class="row">
  <div class="col-12">
    <div *ngIf="data" class="col-8">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Score</th>
            <th>Sentence</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{data.score}}</td>
            <td>{{data.sentence}}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div *ngIf="watsonData">
      <table class="table table-bordered">
        <thead>
          <th>Service Provider Name</th>
          <th>Positive Score</th>
          <th>Neutral Score</th>
          <th>Negative Score</th>
        </thead>
        <tbody>
          <tr>
            <td>Human</td>
            <td>{{humanPositiveScore}}</td>
            <td>0</td>
            <td>{{humanNegativeScore}}</td>
          </tr>
          <tr>
            <td>Open Source (NLTK)</td>
            <td>{{openSourceScore.data.pos}}</td>
            <td>{{openSourceScore.data.neu}}</td>
            <td>{{openSourceScore.data.neg}}</td>
          </tr>
          <tr>
            <td>Mircosoft Azure</td>
            <td>{{azurePositiveScore}}</td>
            <td>0</td>
            <td>{{azureNegativeScore}}</td>
          </tr>
          <tr>
            <td>IBM Watson</td>
            <td>{{watsonPositiveScore}}</td>
            <td>{{watsonNeutralScore}}</td>
            <td>{{watsonNegativeScore}}</td>
          </tr>
          <tr>
              <td>Google</td>
              <td>{{googlePositiveScore}}</td>
              <td>{{googleNeutralScore}}</td>
              <td>{{googleNegativeScore}}</td>
            </tr>
        </tbody>
      </table>
    </div>

    <div bar-chart [data]="data"></div>
  </div>
</div>